.link
{
    cursor:pointer;
    background:#EDF4FF;
}

.student-list
{    
    width:100%;
    direction:rtl;
    border-collapse:collapse;
    font-size:190%;
	border:1px solid #CAE7FB;
}

.student-list td
{
    border-color:#CAE7FB;
    border-style:solid none;
    border-width:1px;
    margin-right:10px;
    padding:15px;
}

.student-list th
{
    padding-right:5px;
	background-color:#1C395B;
    border:1px solid #1C395B;
    color:white;
	height:30px;	
}

.validationstate-invalid
{
    background:lightyellow;
    border:1px solid red;
}

.contact-input
{
    margin-top:5px;
    width:300px;
}

.contact-input.textarea
{
    overflow:auto;      
}

.contact-submit
{
    margin-right:100px;
}