/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body{
font-family: Trebuchet MS, Lucida Grande,Lucida Sans Unicode;		
background-color:#c0c0c0;	
font-size:10pt;
}


#municipalities
{
    margin-left: 20px;
}

.hide
{
	display:none;
	visibility:hidden;	
}